<div class=" box-header with-border">
  <input
    [(ngModel)]="searchText"
    placeholder="search text goes here"
    class="form-control col-md-3 ml-2 mb-3"
  />
  <a
    class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
    [routerLink]="['../insert']"
    >Add</a
  >
  <table class="table table-striped able-sm mt-2">
    <thead class="thead-dark">
      <tr>
        <th class="hidden-xs" (click)="Sort('InvoiceId')" scope="col">#</th>
        <th (click)="Sort('CustomerName')" scope="col">Customer Name</th>
        <th (click)="Sort('InvoiceDate')" scope="col">Invoice Date</th>
        <th  (click)="Sort('TotalUsd')" scope="col">Total USD</th>
        <th class="hidden-xs" (click)="Sort('Paid')" scope="col">Total Payment</th>
        <th  scope="col">Difference</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let invoice of invoices | filter: searchText"
        (dblclick)="doubleClick($event)"
      >
        <td class="hidden-xs"  class="d-none d-sm-block" scope="col">{{invoice.InvoiceId}}</td>
        <td  scope="col">{{ invoice.Customer.CustomerName }}</td>
        <td  scope="col">{{ invoice.InvoiceDate | date }}</td>
        <td  scope="col">{{ invoice.TotalUsd | number:'1.2-3'}}</td>
        <td class="hidden-xs" [style.color]="getColor(invoice)"  scope="col">{{ invoice.Paid | number:'1.2-3'}}</td>
        <td  [style.color]="getColor(invoice)"  scope="col">{{ getDifference(invoice) | number:'1.2-3'}}</td>
      </tr>
    </tbody>
  </table>
</div>
