<div class=" box-header with-border mt-3">
    <input
      [(ngModel)]="searchText"
      placeholder="search text goes here"
      class="form-control col-md-3 ml-2 mb-3"
    />
    <a
      class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
      [routerLink]="['../insert']"
      >Add</a
    >
    <table class="table table-striped able-sm mt-2">
      <thead class="thead-dark">
        <tr>
          <th class="d-none d-sm-block" scope="col">#</th>
          <th scope="col">Agent Name</th>
          <th scope="col">Address</th>
          <th class="hidden-sm hidden-xs" scope="col">City</th>
          <th class="hidden-sm hidden-xs" scope="col">Zip Code</th>
          <th class="hidden-sm hidden-xs" scope="col">Phone</th>
          <th scope="col">Mobile Phone</th>
          <th class="hidden-sm hidden-xs" scope="col">Email</th>
          <th class="d-none d-sm-block" scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let agent of agents | filter: searchText"
          (click)="singleClick($event)"
          (dblclick)="doubleClick($event)"
        >
          <td class="d-none d-sm-block" scope="col">{{ agent.AgentId }}</td>
          <td scope="col">{{ agent.Name }}</td>
          <td scope="col">{{ agent.Address }}</td>
          <td class="hidden-sm hidden-xs" scope="col">{{ agent.City }}</td>
          <td class="hidden-sm hidden-xs" scope="col">{{ agent.ZipCode }}</td>
          <td class="hidden-sm hidden-xs" scope="col">{{ agent.Phone }}</td>
          <td scope="col">{{ agent.MobilePhone }}</td>
          <td class="hidden-sm hidden-xs" scope="col">{{ agent.Email }}</td>
          <td class="d-none d-sm-block" scope="col">{{ agent.Website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  