﻿@model coderush.Models.ApplicationUser
@inject coderush.Data.ApplicationDbContext Context

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">DASHBOARD</li>

            <li class="@Html.IsSelected(controller: MainMenu.Dashboard.ControllerName)">
                <a href="@MainMenu.Dashboard.Path">
                    <i class="fa fa-pie-chart"></i> <span>@MainMenu.Dashboard.PageName</span>
                </a>
            </li>            
           <li class="header">CUSTOMERS</li>

            <li class="@Html.IsSelected(controller: MainMenu.Customer.ControllerName)">
                <a href="@MainMenu.Customer.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.Customer.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Agent.ControllerName)">
                <a href="@MainMenu.Agent.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.Agent.PageName</span>
                </a>
            </li>

            <li class="@Html.IsSelected(controller: MainMenu.Vendor.ControllerName)">
                <a href="@MainMenu.Vendor.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.Vendor.PageName</span>
                </a>
            </li>

            <li class="header">INVOICES</li>

            <li class="@Html.IsSelected(controller: MainMenu.Invoice.ControllerName)">
                <a href="@MainMenu.Invoice.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.Invoice.PageName</span>
                </a>
            </li>

            <li class="@Html.IsSelected(controller: MainMenu.Bill.ControllerName)">
                <a href="@MainMenu.Bill.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.Bill.PageName</span>
                </a>
            </li>

            <li class="header">INVENTORY</li>

            <li class="@Html.IsSelected(controller: MainMenu.Box.ControllerName)">
                <a href="@MainMenu.Box.Path">
                    <i class="fa fa-tag"></i> <span>@MainMenu.Box.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Pallet.ControllerName)">
                <a href="@MainMenu.Pallet.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.Pallet.PageName</span>
                </a>
            </li>

         
            <li class="header">USER & ROLE</li>
            <li class="@Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
                <a href="@MainMenu.User.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.User.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangePassword.ControllerName, action: MainMenu.ChangePassword.ActionName)">
                <a href="@MainMenu.ChangePassword.Path">
                    <i class="fa fa-key"></i> <span>@MainMenu.ChangePassword.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
                <a href="@MainMenu.Role.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.Role.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
                <a href="@MainMenu.ChangeRole.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.ChangeRole.PageName</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>