﻿
@{
    ViewData["Title"] = "Bill";
    Layout = "_BillIndex";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-root></app-root>
<script src="runtime-es2015.js" type="module"></script><script src="polyfills-es2015.js" type="module"></script><script src="runtime-es5.js" nomodule></script><script src="polyfills-es5.js" nomodule></script><script src="styles-es2015.js" type="module"></script><script src="styles-es5.js" nomodule></script><script src="vendor-es2015.js" type="module"></script><script src="main-es2015.js" type="module"></script><script src="vendor-es5.js" nomodule></script><script src="main-es5.js" nomodule></script>
</div>

