<div class=" box-header with-border">
    <input
      [(ngModel)]="searchText"
      placeholder="search text goes here"
      class="form-control col-md-3 ml-2 mb-3"
    />
    <a
      class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
      [routerLink]="['../insert']"
      >Add</a>
    <table class="table table-striped able-sm mt-2">
      <thead class="thead-dark">
        <tr>
          <th class="d-none d-sm-block" scope="col">#</th>
          <th scope="col">Vendor Name</th>
          <th scope="col">Invoice Date</th>
          <th scope="col">Total Lira</th>
          <th scope="col">Total Usd</th>
          <th class="d-none d-sm-block" scope="col">Total Payment</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let bill of bills | filter: searchText"
          (dblclick)="doubleClick($event)"
        >
          <td class="d-none d-sm-block" scope="col">{{bill.BillId}}</td>
          <td scope="col">{{ bill.Vendor.VendorName }}</td>
          <td scope="col">{{ bill.BillDate | date }}</td>
          <td scope="col">{{ bill.Amount }}</td>
          <td scope="col">{{ bill.UsdAmount }}</td>
          <td class="d-none d-sm-block" scope="col">{{ bill.Paid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  