<div class="container mb-3" >
        <div class="row ml-1 mr-1 mt-3 mb-5 text-light ">
          <button
            class="btn bg-secondary  btn-block col-md-3"
            [routerLink]="['../home']"
          >
            back
          </button>
        </div>
        <div class="table ml-3" >
          <div class="row">
             <div>                        
                        <input
                        type="text"
                        class="form-control ml-1 "
                        name="StateInvoiceNumber"
                        placeholder="State Invoice Number"
                        matInput
                        [(ngModel)]="invoice.StateInvoiceNumber"    
                      />
            </div>
            <mat-form-field class="col">
              <input
                type="text"
                class="col ml-1"
                name="invoice.Customer.CustomerId"
                placeholder="Customer Id"
                [formControl]= "CustomerControl"
                matInput
                [(ngModel)]="invoice.Customer.CustomerId"
                [matAutocomplete]="auto"          
              />
              <label>{{ invoice.Customer.CustomerName }}</label>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of customerFilteredOptions | async"  
                  (click) = "UpdateCustomer(option)"
                  [value]="option.CustomerId"            
                >
                  {{ option.CustomerName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>      
            <mat-form-field class="col">
              <input
                class="col ml-1"
                matInput          
                [matDatepicker]="picker"
                [(ngModel)]="invoice.InvoiceDate"
                placeholder="Invoice Date"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            
          </div>
          <div class="row">
          </div>
        </div>
        <table class="table table-striped able-sm mt-2">
          <thead class="thead-dark">
            <tr>
              <th class="d-none d-sm-block" scope="col">#</th>
              <th  scope="col">Pallet Number</th>
              <th  class="d-none d-sm-block" scope="col">Barcode</th>
              <th scope="col">Pallet Name</th>
              <th scope="col">Weight</th>
              <th class="d-none d-sm-block" scope="col">Remaining Weight</th>
              <th scope="col">Sold weight</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let invoicePallet of invoicePallets "
            >
              <td class="d-none d-sm-block">{{ invoicePallet.Pallet.PalletId }}</td>
              <td >{{ invoicePallet.Pallet.PalletNumber }}</td>
              <td  class="d-none d-sm-block">{{ invoicePallet.Pallet.Barcode }}</td>
              <td>{{ invoicePallet.Pallet.YarnType }} {{invoicePallet.Pallet.Denier}} {{invoicePallet.Pallet.Filament}} {{invoicePallet.Pallet.Intermingle}} {{invoicePallet.Pallet.ColorCode}} {{invoicePallet.Pallet.BobbinSize}} </td>
              <td>{{ invoicePallet.Pallet.Weight }}</td>
              <td class="d-none d-sm-block">{{ invoicePallet.Pallet.RemainWeight }}</td>
              <td><input class="form-control" type="text" [(ngModel)]="invoicePallet.Weight" /></td>
              <td >{{ invoicePallet.Pallet.Price }}</td>
              <td ><input class="btn btn-danger" (click)="RemoveItem(invoicePallet)" type="button" value="X"/></td>
            </tr>
            <tr>
              <td colspan="9">
                <mat-form-field class="col">
                  <input type="text" class="ml-1 " name="newPalletId"
                  placeholder="Add New Pallet"
                  matInput
                  [formControl]= "PalletsControl"                
                  [matAutocomplete]="autoPallet"          
                  />
                <mat-autocomplete #autoPallet="matAutocomplete">
                <mat-option                      
                  *ngFor="let palletOption of filteredOptions | async"                              
                  value="palletOption.PalletId"
                  (click)="Add(palletOption.PalletId)"
                >           
                {{ palletOption.PalletNumber }} {{ palletOption.Barcode }} {{ palletOption.YarnType }} {{palletOption.Denier}} {{palletOption.Filament}} {{palletOption.Intermingle}} {{palletOption.ColorCode}} {{palletOption.BobbinSize}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>     
            </td>
           </tr>
          </tbody>
        </table>
        <table class="table table-striped able-sm mt-2">
          <thead class="thead-dark">
            <tr>
              <th class="d-none d-sm-block" scope="col">#</th>        
              <th scope="col">Barcode</th>
              <th scope="col">Box Name</th>
              <th scope="col">Weight</th>
              <th class="d-none d-sm-block" scope="col">Remaining Weight</th>
              <th scope="col">Sold weight</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoiceBox of invoiceBoxes "
          >
            <td class="d-none d-sm-block">{{ invoiceBox.Box.BoxId }}</td>      
            <td>{{ invoiceBox.Box.Barcode }}</td>
            <td>{{ invoiceBox.Box.YarnType }} {{invoiceBox.Box.Denier}} {{invoiceBox.Box.Filament}} {{invoiceBox.Box.Intermingle}} {{invoiceBox.Box.ColorCode}} {{invoiceBox.Box.BobbinSize}} </td>
            <td>{{ invoiceBox.Box.Weight }}</td>
            <td class="d-none d-sm-block">{{ invoiceBox.Box.RemainWeight }}</td>
            <td><input type="text" [(ngModel)]="invoiceBox.Weight" /></td>
            <td >{{ invoiceBox.Box.Price }}</td>
            <td ><input class="btn btn-danger" (click)="RemoveBoxItem(invoiceBox)" type="button" value="X"/></td>
          </tr>
          <tr>
            <td colspan="9">
              <mat-form-field class="col">
                <input
                  type="text"
                  class="ml-1 "
                  name="newBoxId"
                  placeholder="Add new Box"
                  matInput
                  [formControl]= "BoxesControl"            
                  [matAutocomplete]="autoBox"          
                />
                <mat-autocomplete #autoBox="matAutocomplete">
                  <mat-option                      
                    *ngFor="let boxOption of boxFilteredOptions | async"                                 
                    value="boxOption.BoxId"
                    (click)="AddBox(boxOption.BoxId)"
                  >           
                  {{ boxOption.Barcode }} {{ boxOption.YarnType }} {{boxOption.Denier}} {{boxOption.Filament}} {{boxOption.Intermingle}} {{boxOption.ColorCode}} {{boxOption.BobbinSize}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>  
            </td>
          </tr>
          </tbody>
        </table>
      
        <div>
          <label>KDV %:</label>
          <input
          type="text"
          class="ml-1 form-control"
          name="invoice.KDV"
          placeholder="KDV"        
          [(ngModel)]="invoice.Kdv"    
        />
        <label>Discount:</label>
        <input
        type="text"
        class="ml-1 form-control"
        name="invoice.Discount"
        placeholder="Discount"
        
        [(ngModel)]="invoice.Discount"
      />
        <label>Exchange Rate:</label>
        <input
          type="text"
          class="ml-1 "
          class="ml-1 form-control"
          placeholder="Exchange Rate"          
          [(ngModel)]="ExchangeRate"    
        />
        <hr/>
        <div class="table" >
        <div class="row">
          <div class="col">
        <label >KDV:</label><label class="ml-3">{{Tax | number:'1.2-3'}}</label> 
      </div>
      </div>
      
      <div class="row">
          <div class="col">
        <label >Total USD:</label><label class="ml-3">{{TotalUsd | number:'1.2-3'}}</label>
        </div>
      </div>
      <div class="row">
          <div class="col">
        <label >Total Lira:</label><label class="ml-3">{{TotalLira | number:'1.2-3'}}</label>
        </div>
      </div>
      <div class="row">
        <div class="form-check form-check-inline ml-4">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="invoice.Currency"  value="Usd">
          <label class="form-check-label" for="inlineRadio1"   >Usd</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="invoice.Currency" value="Lira">
          <label class="form-check-label" for="inlineRadio2"    >Lira</label>
        </div>
      </div>
      <div class="row">                  
            <div class="col">
                <label >Total payment:</label>
                <input
                type="text"
                class="ml-1 form-control"
                name="invoice.Paid"
                placeholder="Total payment"
                [(ngModel)]="invoice.Paid"
              />
          </div>
        </div>
      </div>
        </div>
        <p class="bg-success p-3 mb-2" *ngIf="showSuccess">Successfully Saved!</p>
        <div class="row">
          <div class="col-md-2 mb-3">
            <button
              class="btn btn-secondary btn-lg btn-block"
              type="button"
              (click)="Cancel()"
            >
              Cancel
            </button>
          </div>
          <div class="col-md-2 mb-3">
                <button
                  class="btn btn-danger btn-lg btn-block"
                  type="button"
                  (click)="Delete()"
                >
                  Delete
                </button>
              </div>
          <div class="col-md-2 mb-3">
                  <a
                    href="{{InvoiceReportUrl}}"
                    class="btn btn-primary btn-lg btn-block"                    
                    download
                  >
                    Download PDF
                </a>
          </div>
          <div class="col-md-2 mb-3">
            <a
              href="{{ExitReportUrl}}"
              class="btn btn-primary btn-lg btn-block"                    
              download
            >
              Download Exit Reports
           </a>
          </div>
  
          <div class="col-md-2 mb-3">
            <button
              class="btn btn-success btn-lg btn-block"
              type="button"
              value="Save"
              (click)="Save(invoice)"
            >
              Save
            </button>
          </div>
        </div>
      </div>
      