<div class="container mb-3" >
  <div class="row ml-1 mr-1 mt-3 mb-5 text-light ">
    <button
      class="btn bg-secondary  btn-block col-md-3"
      [routerLink]="['../home']"
    >
      back
    </button>
  </div>
  <div class="table ml-3" >
    <div class="row">
       <div>                        
                  <input
                  type="text"
                  class="form-control ml-1 "
                  name="VendorInvoiceNumber"
                  placeholder="State Invoice Number"
                  matInput
                  [(ngModel)]="bill.VendorInvoiceNumber"    
                />
      </div>
      <mat-form-field class="col">
        <input
          type="text"
          class="col ml-1"
          name="bill.Vendor.VendorId"
          placeholder="Vendor Id"
          [formControl]= "VendorsControl"
          matInput
          [(ngModel)]="bill.Vendor.VendorId"
          [matAutocomplete]="auto"          
        />
        <label>{{ bill.Vendor.VendorName }}</label>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"  
            (click) = "UpdateVendor(option)"
            [value]="option.VendorId"            
          >
            {{ option.VendorName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>      
      <mat-form-field class="col">
        <input
          class="col ml-1"
          matInput          
          [matDatepicker]="picker"
          [(ngModel)]="bill.BillDate"
          placeholder="Bill Date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      
    </div> 
    <div class="form-group mt-3">        
        <label for="bill-name">Bill name</label>
      <input    
          id="bill-name"
          name="bill-name"
          class="input-group-text form-control"               
          [(ngModel)]="bill.BillName"
          placeholder="Bill name"
        />
    </div>
    
        <div class="form-group">
          <label for="bill-amount">Bill Amount</label>
          <input
            id="bill-amount"
            name="bill-amount"
            class="input-group-text form-control"   
            [(ngModel)]="bill.Amount"
            placeholder="Bill Amount"
          />
        </div>
        <div class="form-group">
          <label for="bill-amount">Exchange Rate</label>
          <input
            id="bill-exchange-rate"
            name="bill-exchange-rate"
            class="input-group-text form-control"   
            [(ngModel)]="bill.ExchangeRate"
            placeholder="Exchange Rate"
          />
        </div>
        <div class="form-group">
          <label for="bill-amount">Bill Usd Amount</label>
          <input
            id="bill-usd-amount"
            name="bill-usd-amount"
            class="input-group-text form-control"   
            [(ngModel)]="bill.UsdAmount"
            placeholder="Bill Usd Amount"
          />
        </div>
        <div class="form-group">
        <label for="paid">Paid Amount</label>
        <input
            id="paid"
            name="paid"
            class="input-group-text form-control"   
            [(ngModel)]="bill.Paid"
            placeholder="Paid Amount"
          />
          </div>
          <div class="form-group">
                      <label for="kdv">KDV</label>
          <input
              name="kdv"
              id="kdv"                
              class="input-group-text form-control"   
              [(ngModel)]="bill.KDV"
              placeholder="KDV"
            />
            </div>
    
    
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
          id="comment"
          name="comment"
          class="input-group-text form-control"             
          [(ngModel)]="bill.Comment"
          placeholder="Comments"
        />       
    </div>
  </div> 
    
  <p class="bg-success p-3 mb-2" *ngIf="showSuccess">Successfully Saved!</p>
  <div class="row">
    <div class="col-md-3 mb-3">
      <button
        class="btn btn-secondary btn-lg btn-block"
        type="button"
        (click)="Cancel()"
      >
        Cancel
      </button>
    </div>


    <div class="col-md-3 mb-3">
      <button
        class="btn btn-success btn-lg btn-block"
        type="button"
        value="Save"
        (click)="Save(bill)"
      >
        Save
      </button>
    </div>
  </div>
</div>
