<div class=" box-header with-border">
  <input
    [(ngModel)]="searchText"
    placeholder="search text goes here"
    class="form-control col-md-3 ml-2 mb-3"
  />
  <a
    class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
    [routerLink]="['../insert']"
    >Add</a
  >
  <table class="table table-striped able-sm mt-2">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-sm-block" scope="col">#</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Address</th>
        <th class="hidden-sm hidden-xs" scope="col">City</th>
        <th class="hidden-sm hidden-xs" scope="col">Zip Code</th>
        <th class="hidden-sm hidden-xs" scope="col">Phone</th>
        <th scope="col">Mobile Phone</th>
        <th class="hidden-sm hidden-xs" scope="col">Email</th>
        <th class="d-none d-sm-block" scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers | filter: searchText"
        (click)="singleClick($event)"
        (dblclick)="doubleClick($event)"
      >
        <td class="d-none d-sm-block" scope="col">{{ customer.CustomerId }}</td>
        <td scope="col">{{ customer.CustomerName }}</td>
        <td scope="col">{{ customer.Address }}</td>
        <td class="hidden-sm hidden-xs" scope="col">{{ customer.City }}</td>
        <td class="hidden-sm hidden-xs" scope="col">{{ customer.ZipCode }}</td>
        <td class="hidden-sm hidden-xs" scope="col">{{ customer.Phone }}</td>
        <td scope="col">{{ customer.MobilePhone }}</td>
        <td class="hidden-sm hidden-xs" scope="col">{{ customer.Email }}</td>
        <td class="d-none d-sm-block" scope="col">{{ customer.Website }}</td>
      </tr>
    </tbody>
  </table>
</div>
