<div class=" box-header with-border">
  <input
    [(ngModel)]="searchText"
    placeholder="search text goes here"
    class="form-control col-md-3 ml-2 mb-3"
  />
  <a
    class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
    [routerLink]="['../insert']"
    >Add</a
  >
  <table class="table table-striped able-sm mt-2" >
    <thead class="thead-dark">
      <tr>          
        <th   class="hidden-xs" scope="col">#</th>        
        <th scope="col" (click)="Sort('PalletId')">Pallet Id</th>
        <th  class="hidden-xs"  scope="col" (click)="Sort('Barcode')">Barcode</th>        
        <th  class="hidden-xs"  scope="col" (click)="Sort('YarnType')">Yarn Type</th>
        <th scope="col" (click)="Sort('Denier')">Denier</th>
        <th scope="col" (click)="Sort('Filament')">Filament</th>
        <th scope="col" (click)="Sort('Intermingle')">Intermingle</th>
        <th class="hidden-xs" scope="col" (click)="Sort('Color')">Color</th>
        <th scope="col" (click)="Sort('ColorCode')">Color Code</th>
        <th class="hidden-xs" scope="col" (click)="Sort('BobbinSize')">Bobbin Size</th>
        <th scope="col" (click)="Sort('Weight')">Weight</th>
        <th class="hidden-xs" (click)="Sort('RemainWeight')" scope="col">RemainWeight</th>
        <th scope="col" (click)="Sort('Sold')">Sold</th>
        <th scope="col">Report</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let box of boxes | filter: searchText "
        (click)="singleClick($event)"
        (dblclick)="doubleClick($event)"
      >
        <td class="hidden-xs">{{ box.BoxId }}</td>
        <td>{{ box.PalletId }}</td>  
        <td  class="hidden-xs" >{{ box.Barcode }}</td>        
        <td  class="hidden-xs" >{{ box.YarnType }}</td>
        <td>{{ box.Denier }}</td>
        <td>{{ box.Filament }}</td>
        <td>{{ box.Intermingle }}</td>
        <td class="hidden-xs">{{ box.Color }}</td >
        <td>{{ box.ColorCode }}</td >
        <td class="hidden-xs">{{ box.BobbinSize }}</td>
        <td>{{ box.Weight }}</td>
        <td class="hidden-xs">{{ box.RemainWeight }}</td>
        <td>{{ box.Sold }}</td>
        <td>
          <a
            target="_blank"
            href="/report-{{box.BoxId }}.pdf"
            >Report</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  {{ totlWeight }}
</div>
